Node-Red/flows10-18-2021.json
[{"id":"5496fb63.715064","type":"tab","label":"General","disabled":false,"info":""},{"id":"95dac048.34684","type":"tab","label":"Raspberry monitoring","disabled":false,"info":""},{"id":"c2ea2b17.4ccec8","type":"tab","label":"WIFI Management","disabled":false,"info":""},{"id":"9116c228.7e108","type":"tab","label":"Camera Feed","disabled":false,"info":""},{"id":"5a23538f.2b5c1c","type":"tab","label":"Door","disabled":false,"info":""},{"id":"14bc5267.4d798e","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"160","cleansession":true,"birthTopic":"raspberry_do_gama_alive","birthQos":"0","birthRetain":"true","birthPayload":"Raspberry ativo","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f1b5e757.dd28e8","type":"ui_tab","name":"Camera Feed","icon":"dashboard","disabled":false,"hidden":false},{"id":"bebc2a08.8975f8","type":"ui_group","name":"Live Video","tab":"f1b5e757.dd28e8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"eddced2d.9f4b2","type":"ui_group","name":"Video capture Control","tab":"f1b5e757.dd28e8","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2b4fd5f7.85e05a","type":"ui_group","name":"Raspberi Pi Control","tab":"e90f92b5.ca36b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8c5fe222.d775f","type":"remote-config","name":"test","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"hkqodc40yoirg8kmryie9id8cbkmgqzp0fb5fd015h4pm1f9qyupmypdgxxeipzd","server":"nodered03.remote-red.com","region":"us"},{"id":"cb2c8d11.111f5","type":"ui_group","name":"System Status","tab":"a831720c.5bff6","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a831720c.5bff6","type":"ui_tab","z":"95dac048.34684","name":"Raspbery PI Status","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"907bbe60.b555f","type":"ui_tab","name":"Wifi Setting","icon":"wifi","disabled":false,"hidden":false},{"id":"d9064ae1.7825b8","type":"ui_group","name":"Network Informations","tab":"a831720c.5bff6","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6b5283fc.9a82ec","type":"ui_group","name":"Update","tab":"907bbe60.b555f","order":2,"disp":false,"width":"6","collapse":false},{"id":"57d1d1fd.7a89d","type":"ui_group","name":"Settings","tab":"907bbe60.b555f","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"e90f92b5.ca36b","type":"ui_tab","name":"General","icon":"dashboard","disabled":false,"hidden":false},{"id":"ae14d714.6c04e8","type":"ui_group","name":"Network","tab":"e90f92b5.ca36b","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b55c5b66.8d52c8","type":"ui_group","name":"Phone# Setting","tab":"e90f92b5.ca36b","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"12aa27dd.6387d8","type":"ui_group","name":"Motion Detection Control","tab":"e90f92b5.ca36b","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"daabdf44.15f14","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d52e55c1.e2eff8","type":"ui_group","name":"HD Video","tab":"f1b5e757.dd28e8","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9f185bbc.98cc78","type":"ui_tab","name":"Door Control","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7c447e96.4b96a","type":"ui_tab","name":"Zooland Sys","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"fd80c90c.552e08","type":"ui_group","name":"Door Status","tab":"9f185bbc.98cc78","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"724ca09d.3fbec","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b586a8f7.e060e8","type":"ui_group","name":"groov RIO","tab":"c40344b0.c82658","order":1,"disp":true,"width":"26","collapse":false},{"id":"c40344b0.c82658","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b536f397.1b878","type":"ui_group","name":"logo","tab":"9f185bbc.98cc78","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b8548de1.573d1","type":"ui_button","z":"5496fb63.715064","name":"","group":"2b4fd5f7.85e05a","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":120,"y":700,"wires":[["e558ec91.5e7cb"]]},{"id":"e558ec91.5e7cb","type":"exec","z":"5496fb63.715064","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":320.2222213745117,"y":699.9999761581421,"wires":[[],[],[]]},{"id":"1e1909e2.c49106","type":"exec","z":"5496fb63.715064","command":"vcgencmd measure_volts core","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":410,"y":960,"wires":[["a91a199e.427d18"],[],[]]},{"id":"a91a199e.427d18","type":"function","z":"5496fb63.715064","name":"TEST","func":"var str = msg.payload;\nmsg.payload = str.substring(5,11);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":960,"wires":[["719be38d.bfb4cc","66629beb.e3c164","8a9180aa.e7ef1","88b89c9.e93e16"]]},{"id":"719be38d.bfb4cc","type":"debug","z":"5496fb63.715064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":960,"wires":[]},{"id":"a8645ae2.2334f8","type":"remote-notification","z":"5496fb63.715064","confignode":"8c5fe222.d775f","name":"","notificationTitle":"payload.title","notificationTitleType":"msg","notificationBody":"payload.body","notificationBodyType":"msg","notificationSound":"default","notificationSoundComputed":"payload.sound","notificationSoundComputedType":"msg","output":1,"x":1370,"y":1040,"wires":[["f1f45450.250f78"]]},{"id":"f1f45450.250f78","type":"debug","z":"5496fb63.715064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":1040,"wires":[]},{"id":"2a0df4e8.119f4c","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Low Voltage\",\"body\":\"The Raspberry Pi is not under Voltage\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1020,"wires":[["a8645ae2.2334f8"]]},{"id":"b9ca34c4.ae28c8","type":"ui_toast","z":"5496fb63.715064","position":"top right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1100,"y":1160,"wires":[]},{"id":"66629beb.e3c164","type":"function","z":"5496fb63.715064","name":"","func":"num = parseFloat(msg.payload);\nif(num >=0.80 && num <=1.25)\n    msg.payload = \"Raspberry Pi is not under Voltage\";\nelse\n    msg.payload = \"Rasberry Pi is under Voltage\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1160,"wires":[["b9ca34c4.ae28c8"]]},{"id":"8a9180aa.e7ef1","type":"function","z":"5496fb63.715064","name":"","func":"num = parseFloat(msg.payload);\nif(num >= 0.80 && num <=1.25)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1020,"wires":[["2a0df4e8.119f4c"]]},{"id":"88b89c9.e93e16","type":"function","z":"5496fb63.715064","name":"","func":"num = parseFloat(msg.payload);\nif(num < 0.80 || num > 1.25)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1080,"wires":[["d5da06af.aac378"]]},{"id":"d5da06af.aac378","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Low Voltage\",\"body\":\"Rapsberry Pi is under Voltage\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1080,"wires":[["a8645ae2.2334f8"]]},{"id":"1c583582.f750ba","type":"ui_button","z":"5496fb63.715064","name":"","group":"2b4fd5f7.85e05a","order":1,"width":0,"height":0,"passthru":false,"label":"Check Rasp Voltage","tooltip":"","color":"","bgcolor":"Green","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":140,"y":960,"wires":[["1e1909e2.c49106"]]},{"id":"4cdd710b.71705","type":"remote-access","z":"5496fb63.715064","confignode":"8c5fe222.d775f","name":"","verbose":0,"x":160,"y":40,"wires":[[]]},{"id":"1ce04814.8fb858","type":"function","z":"5496fb63.715064","name":"take data","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"text\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return\n}\nif(msg.topic === \"save\"){\n    msg.payload = data;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1460,"wires":[["5ebcc527.3192bc","dea6b49c.9243f8","13523084.0187bf"]]},{"id":"8c7ec1b8.efa2e","type":"ui_text_input","z":"5496fb63.715064","name":"Phone Number","label":"Phone Number","tooltip":"","group":"b55c5b66.8d52c8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task1","sendOnBlur":true,"topicType":"str","x":140,"y":1460,"wires":[["1ce04814.8fb858"]]},{"id":"dea6b49c.9243f8","type":"ui_button","z":"5496fb63.715064","name":"","group":"b55c5b66.8d52c8","order":2,"width":0,"height":0,"passthru":false,"label":"Insert Phone Number","tooltip":"","color":"","bgcolor":"Orange","className":"","icon":"","payload":"msg","payloadType":"str","topic":"","topicType":"str","x":880,"y":1460,"wires":[[]]},{"id":"13523084.0187bf","type":"debug","z":"5496fb63.715064","name":"Take Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":1580,"wires":[]},{"id":"5ebcc527.3192bc","type":"json","z":"5496fb63.715064","name":"","property":"payload","action":"str","pretty":false,"x":830,"y":1340,"wires":[["8881518b.56844"]]},{"id":"8881518b.56844","type":"file","z":"5496fb63.715064","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/phone.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1160,"y":1340,"wires":[["90a4d48d.a1b158"]]},{"id":"90a4d48d.a1b158","type":"ui_text","z":"5496fb63.715064","group":"b55c5b66.8d52c8","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1470,"y":1340,"wires":[]},{"id":"5efc3128.462f9","type":"ui_gauge","z":"95dac048.34684","name":"","group":"cb2c8d11.111f5","order":1,"width":"3","height":"3","gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"60","className":"","x":710,"y":140,"wires":[]},{"id":"5cdbe554.d0de2c","type":"exec","z":"95dac048.34684","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":352.2221908569336,"y":153.33333683013916,"wires":[["390b6e29.4f36d2"],[],[]]},{"id":"7194bce7.f53e64","type":"inject","z":"95dac048.34684","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":134.49996185302734,"y":153.80555629730225,"wires":[["5cdbe554.d0de2c","b3c971f2.08162","19609cc9.bc4f33"]]},{"id":"390b6e29.4f36d2","type":"function","z":"95dac048.34684","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":498.888858795166,"y":140.00000190734863,"wires":[["5efc3128.462f9","cec3047a.657a08"]]},{"id":"cec3047a.657a08","type":"ui_chart","z":"95dac048.34684","name":"","group":"cb2c8d11.111f5","order":5,"width":"6","height":"4","label":"CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":710.9999389648438,"y":179.6666717529297,"wires":[[]]},{"id":"b3c971f2.08162","type":"exec","z":"95dac048.34684","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":352.2221908569336,"y":233.33333683013916,"wires":[["3e67492a.5f7b36"],[],[]]},{"id":"19609cc9.bc4f33","type":"exec","z":"95dac048.34684","command":"free | grep Mem | awk '{ print(\"%.4f %\\n\"+$4/$2 * 100.0) }'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":352.2222099304199,"y":297.5555725097656,"wires":[["712f52ac.dffa2c"],[],[]]},{"id":"3e67492a.5f7b36","type":"ui_gauge","z":"95dac048.34684","name":"","group":"cb2c8d11.111f5","order":4,"width":"3","height":"3","gtype":"gage","title":"CPU","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":672.111083984375,"y":221.11111450195312,"wires":[]},{"id":"712f52ac.dffa2c","type":"ui_gauge","z":"95dac048.34684","name":"","group":"cb2c8d11.111f5","order":2,"width":"3","height":"3","gtype":"gage","title":"Memory free","label":"%","format":"{{parseInt(value)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":690.3333320617676,"y":283.5555639266968,"wires":[]},{"id":"9ebbc8e.3d15a38","type":"exec","z":"95dac048.34684","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":349.88884353637695,"y":365.2222442626953,"wires":[["ad39d258.97656"],[],[]]},{"id":"88f061e0.e076e","type":"ui_gauge","z":"95dac048.34684","name":"","group":"cb2c8d11.111f5","order":3,"width":"3","height":"3","gtype":"gage","title":"Disk Space","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":688.1110496520996,"y":351.88890743255615,"wires":[]},{"id":"ad39d258.97656","type":"function","z":"95dac048.34684","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":497.66661071777344,"y":351.88890171051025,"wires":[["88f061e0.e076e"]]},{"id":"5008faec.32ae34","type":"inject","z":"95dac048.34684","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":149.88884353637695,"y":365.2222442626953,"wires":[["9ebbc8e.3d15a38"]]},{"id":"7a236311.c7c0ec","type":"inject","z":"95dac048.34684","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":145.90821075439453,"y":552.567081451416,"wires":[["e295ad9e.ad4c6"]]},{"id":"b717622d.fd487","type":"mqtt out","z":"95dac048.34684","name":"Send IP thru MQTT","topic":"raspberrypi3_ip_gama","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"14bc5267.4d798e","x":930,"y":460,"wires":[]},{"id":"16083c2.64172c4","type":"remote-access","z":"95dac048.34684","confignode":"8c5fe222.d775f","name":"","verbose":0,"x":120,"y":60,"wires":[[]]},{"id":"2cc22421.560ebc","type":"exec","z":"c2ea2b17.4ccec8","command":"sudo iwlist wlan0 scan | grep ESSID | sed 's/ESSID://g;s/\"//g;s/^ *//;s/ *$//'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scan","x":450,"y":180,"wires":[["14669edf.d64661"],[],[]]},{"id":"14669edf.d64661","type":"function","z":"c2ea2b17.4ccec8","name":"parseOptions","func":"var ssids = msg.payload.split('\\n').filter(s => !!s)\n\nssids = [...new Set(ssids)];\n\nmsg.options = ssids\nmsg.payload = null\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":167,"wires":[["2e8235cb.86dbca"]]},{"id":"dfbe61ce.55d06","type":"inject","z":"c2ea2b17.4ccec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":290,"y":321,"wires":[["2cc22421.560ebc","58500853.6d1a78","423548d4.2972f8"]]},{"id":"2e8235cb.86dbca","type":"ui_dropdown","z":"c2ea2b17.4ccec8","name":"","label":"Wifi","tooltip":"","place":"Select a WIFI","group":"6b5283fc.9a82ec","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"","topicType":"str","className":"","x":850,"y":167,"wires":[["fd53e0ec.7fffb"]]},{"id":"f0a12603.4973f8","type":"ui_button","z":"c2ea2b17.4ccec8","name":"","group":"6b5283fc.9a82ec","order":1,"width":0,"height":0,"passthru":false,"label":"Scan","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":250,"y":281,"wires":[["2cc22421.560ebc"]]},{"id":"86d004b2.602098","type":"ui_ui_control","z":"c2ea2b17.4ccec8","name":"onTab","events":"all","x":150,"y":180,"wires":[["f7e28103.2f4ed"]]},{"id":"f7e28103.2f4ed","type":"switch","z":"c2ea2b17.4ccec8","name":"ifWifi","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"Wifi","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":291,"y":180,"wires":[["2cc22421.560ebc","58500853.6d1a78","423548d4.2972f8"]]},{"id":"58500853.6d1a78","type":"exec","z":"c2ea2b17.4ccec8","command":"ifconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getInfo","x":450,"y":281,"wires":[["40c015df.a4d66c"],[],[]]},{"id":"40c015df.a4d66c","type":"function","z":"c2ea2b17.4ccec8","name":"parseInfo","func":"var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\nvar mask = msg.payload.match(/netmask ([0-9\\.]+)/)[1]\nvar broadcast = msg.payload.match(/broadcast ([0-9\\.]+)/)[1]\n\n\nnode.send({topic: 'ip', payload: ip})\nnode.send({topic: 'mask', payload: mask})\nnode.send({topic: 'broadcast', payload: broadcast})","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":268,"wires":[["2e1f186d.eff458"]]},{"id":"2e1f186d.eff458","type":"switch","z":"c2ea2b17.4ccec8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ip","vt":"str"},{"t":"eq","v":"mask","vt":"str"},{"t":"eq","v":"broadcast","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":830,"y":281,"wires":[["3662edc.6ec1e12"],["5ba0faee.5814c4"],["c885f920.bd7cc8"]]},{"id":"3662edc.6ec1e12","type":"ui_text","z":"c2ea2b17.4ccec8","group":"57d1d1fd.7a89d","order":3,"width":0,"height":0,"name":"","label":"IP","format":"{{msg.payload || '---'}}","layout":"row-spread","className":"","x":1010,"y":241,"wires":[]},{"id":"5ba0faee.5814c4","type":"ui_text","z":"c2ea2b17.4ccec8","group":"57d1d1fd.7a89d","order":4,"width":0,"height":0,"name":"","label":"Netmask","format":"{{msg.payload || '---'}}","layout":"row-spread","x":1020,"y":281,"wires":[]},{"id":"c885f920.bd7cc8","type":"ui_text","z":"c2ea2b17.4ccec8","group":"57d1d1fd.7a89d","order":5,"width":0,"height":0,"name":"","label":"Broadcast","format":"{{msg.payload || '---'}}","layout":"row-spread","x":1020,"y":321,"wires":[]},{"id":"43e8f5a2.57969c","type":"ui_form","z":"c2ea2b17.4ccec8","name":"","label":"Update","group":"6b5283fc.9a82ec","order":3,"width":0,"height":0,"options":[{"label":"SSID","value":"ssid","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"ssid":"","password":""},"payload":"","submit":"UPDATE","cancel":"RESET","topic":"","topicType":"str","splitLayout":false,"className":"","x":1140,"y":167,"wires":[["46852bf1.363e84"]]},{"id":"fd53e0ec.7fffb","type":"function","z":"c2ea2b17.4ccec8","name":"","func":"\nmsg.payload = {ssid: msg.payload}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":167,"wires":[["43e8f5a2.57969c"]]},{"id":"46852bf1.363e84","type":"function","z":"c2ea2b17.4ccec8","name":"getPassphrase","func":"var data = msg.payload\n\nvar command = `wpa_passphrase \"${data.ssid}\" \"${data.password}\" | sed '/#psk=\".*\"/d'`\n \nmsg.payload = command\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":167,"wires":[["a0fb4236.baae6"]]},{"id":"a0fb4236.baae6","type":"exec","z":"c2ea2b17.4ccec8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1501,"y":167,"wires":[["8e633de.276bdc"],[],[]]},{"id":"8e633de.276bdc","type":"function","z":"c2ea2b17.4ccec8","name":"updateWpasupplicant","func":"var template = `sudo tee /etc/wpa_supplicant/wpa_supplicant.conf <<EOF\nctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\nupdate_config=1\ncountry=IT\n\n${msg.payload}\nEOF\\n\n`\n\nmsg.payload = template\n\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":160,"wires":[["7074a7b1.628ff8"]]},{"id":"7074a7b1.628ff8","type":"exec","z":"c2ea2b17.4ccec8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"updateConf","x":1290,"y":280,"wires":[["a71d59bf.78c5a8"],[],[]]},{"id":"a71d59bf.78c5a8","type":"exec","z":"c2ea2b17.4ccec8","command":"sudo wpa_cli -i wlan0 reconfigure","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reconfigure","x":1470,"y":267,"wires":[["3584e9c6.a573b6"],[],[]]},{"id":"3584e9c6.a573b6","type":"function","z":"c2ea2b17.4ccec8","name":"showMessage","func":"\nmsg.payload = msg.payload.trim() === 'OK' ? \"Wifi configuration updated successfully\" : \"Error while updating wifi configuration\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":254,"wires":[["1028a706.5293c9"]]},{"id":"1028a706.5293c9","type":"ui_toast","z":"c2ea2b17.4ccec8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1740,"y":320,"wires":[]},{"id":"3ba82e3c.cd3c22","type":"ui_button","z":"c2ea2b17.4ccec8","name":"","group":"57d1d1fd.7a89d","order":1,"width":"0","height":"0","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"arrow_back","payload":"Menu","payloadType":"str","topic":"","topicType":"str","x":150,"y":400,"wires":[["86d004b2.602098"]]},{"id":"423548d4.2972f8","type":"exec","z":"c2ea2b17.4ccec8","command":"iwgetid","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getCurrentSSID","x":480,"y":360,"wires":[["92c00823.7b7018"],[],[]]},{"id":"c1721972.1d1468","type":"ui_text","z":"c2ea2b17.4ccec8","group":"57d1d1fd.7a89d","order":2,"width":0,"height":0,"name":"","label":"SSID","format":"{{msg.payload || '---'}}","layout":"row-spread","x":830,"y":360,"wires":[]},{"id":"92c00823.7b7018","type":"function","z":"c2ea2b17.4ccec8","name":"parseInfo","func":"var ssid = msg.payload.match(/ESSID:\"([^\"]+)\"/)[1]\n\n\nnode.send({topic: 'ssid', payload: ssid})\n","outputs":1,"noerr":0,"x":660,"y":347,"wires":[["c1721972.1d1468"]]},{"id":"23966ab7.6212a6","type":"ui_text","z":"95dac048.34684","group":"d9064ae1.7825b8","order":3,"width":0,"height":0,"name":"","label":"Wifi IP","format":"{{msg.payload || '---'}}","layout":"row-spread","className":"","x":897,"y":527,"wires":[]},{"id":"ffb2901c.88fde","type":"function","z":"95dac048.34684","name":"parseInfo","func":"var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\n\nnode.send({topic: 'ip', payload: ip})\nnode.send({topic: 'mask', payload: mask})\nnode.send({topic: 'broadcast', payload: broadcast})","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":587,"y":527,"wires":[["23966ab7.6212a6"]]},{"id":"e295ad9e.ad4c6","type":"exec","z":"95dac048.34684","command":"ifconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getInfo","x":317,"y":547,"wires":[["ffb2901c.88fde","b717622d.fd487"],[],[]]},{"id":"bfd7bd1d.1332b","type":"inject","z":"95dac048.34684","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":137,"y":707,"wires":[["74071a3b.153034"]]},{"id":"1e82ac81.780613","type":"ui_text","z":"95dac048.34684","group":"d9064ae1.7825b8","order":3,"width":0,"height":0,"name":"","label":"Ethernet IP","format":"{{msg.payload || '---'}}","layout":"row-spread","className":"","x":908.0917892456055,"y":681.432918548584,"wires":[]},{"id":"77c119ad.b0f018","type":"function","z":"95dac048.34684","name":"parseInfo","func":"var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\n\nnode.send({topic: 'ip', payload: ip})\nnode.send({topic: 'mask', payload: mask})\nnode.send({topic: 'broadcast', payload: broadcast})","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":578.0917892456055,"y":681.432918548584,"wires":[["1e82ac81.780613"]]},{"id":"74071a3b.153034","type":"exec","z":"95dac048.34684","command":"ifconfig eth0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getInfo","x":308.09178924560547,"y":701.432918548584,"wires":[["77c119ad.b0f018"],[],[]]},{"id":"3b25f872.8cce38","type":"inject","z":"95dac048.34684","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":137,"y":867,"wires":[["71bde08c.3d23e"]]},{"id":"67566e51.82009","type":"ui_text","z":"95dac048.34684","group":"d9064ae1.7825b8","order":3,"width":0,"height":0,"name":"","label":"wwan IP","format":"{{msg.payload || '---'}}","layout":"row-spread","className":"","x":898.0917892456055,"y":841.432918548584,"wires":[]},{"id":"533ce41f.4b7b4c","type":"function","z":"95dac048.34684","name":"parseInfo","func":"var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\n\nnode.send({topic: 'ip', payload: ip})\nnode.send({topic: 'mask', payload: mask})\nnode.send({topic: 'broadcast', payload: broadcast})","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":578.0917892456055,"y":841.432918548584,"wires":[["67566e51.82009"]]},{"id":"71bde08c.3d23e","type":"exec","z":"95dac048.34684","command":"ifconfig wwan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getInfo","x":308.09178924560547,"y":861.432918548584,"wires":[["533ce41f.4b7b4c","b717622d.fd487"],[],[]]},{"id":"20238df0.a96fd2","type":"comment","z":"9116c228.7e108","name":"Video stream","info":"Reolink article how to get the stream URL:\nhttps://support.reolink.com/hc/en-us/articles/360007010473-How-to-Live-View-Reolink-Cameras-via-VLC-Media-Player\n\nFFmpeg should install just by\nsudo apt-get install ffmpeg\n\nbut it did not work for me, it looks like it is not available raspbian jessie, please read Post 7 from user Strontium on this discussion: https://www.raspberrypi.org/forums/viewtopic.php?t=170094","x":150,"y":120,"wires":[]},{"id":"666769af.3e9688","type":"exec","z":"9116c228.7e108","command":"ffmpeg -rtsp_transport tcp -f rtsp -i rtsp://admin:utsa1234@192.168.2.250:554/cam/realmonitor?channel=1&subtype=1 -f image2pipe pipe:1","addpay":"","append":"","useSpawn":"true","timer":"60","oldrc":false,"name":"Decode RTSP stream","x":820,"y":220,"wires":[["58a85b52.f56b14","4b4f6d56.9a5564"],[],[]]},{"id":"97e843a3.c1217","type":"inject","z":"9116c228.7e108","name":"Start stream","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":260,"wires":[["666769af.3e9688"]]},{"id":"58a85b52.f56b14","type":"image","z":"9116c228.7e108","name":"","width":"200","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":true,"outputs":1,"x":1090,"y":240,"wires":[[]]},{"id":"8ba7688a.428828","type":"inject","z":"9116c228.7e108","name":"Pause all streams","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SIGSTOP","payloadType":"str","x":190,"y":320,"wires":[["6d64f6c7.117ad8"]]},{"id":"85fcf6ae.615ca8","type":"inject","z":"9116c228.7e108","name":"Resume all streams","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SIGCONT","payloadType":"str","x":190,"y":380,"wires":[["6d64f6c7.117ad8"]]},{"id":"6d64f6c7.117ad8","type":"change","z":"9116c228.7e108","name":"","rules":[{"t":"set","p":"kill","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":420,"wires":[["666769af.3e9688"]]},{"id":"9b35a6e7.c07008","type":"inject","z":"9116c228.7e108","name":"Stop all streams","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SIGTERM","payloadType":"str","x":180,"y":440,"wires":[["6d64f6c7.117ad8"]]},{"id":"7a88691a.37fbf8","type":"ui_template","z":"9116c228.7e108","group":"bebc2a08.8975f8","name":"","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1500,"y":180,"wires":[[]]},{"id":"4b4f6d56.9a5564","type":"base64","z":"9116c228.7e108","name":"","action":"str","property":"payload","x":1100,"y":180,"wires":[["35978e09.6b8dd2"]]},{"id":"35978e09.6b8dd2","type":"template","z":"9116c228.7e108","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":1280,"y":180,"wires":[["7a88691a.37fbf8"]]},{"id":"d94a7a3b.ccd2f8","type":"ui_button","z":"9116c228.7e108","name":"","group":"eddced2d.9f4b2","order":2,"width":"0","height":"0","passthru":false,"label":"Start Stream","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"payload","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":180,"wires":[["666769af.3e9688"]]},{"id":"878d3c39.47a5f","type":"ui_button","z":"9116c228.7e108","name":"","group":"eddced2d.9f4b2","order":0,"width":"0","height":"0","passthru":false,"label":"Stop Stream","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"SIGTERM","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":500,"wires":[["6d64f6c7.117ad8"]]},{"id":"ac5c006c.95895","type":"ui_button","z":"5496fb63.715064","name":"","group":"ae14d714.6c04e8","order":9,"width":0,"height":0,"passthru":true,"label":"Activate GSM","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":100,"wires":[["66523c7.ca14ac4"]]},{"id":"49516dd6.4f0004","type":"inject","z":"5496fb63.715064","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":true,"onceDelay":"120","topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["ac5c006c.95895"]]},{"id":"66523c7.ca14ac4","type":"exec","z":"5496fb63.715064","command":"sudo ip link set wwan0 down","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":100,"wires":[["80213b9e.aa82e8"],[],[]]},{"id":"80213b9e.aa82e8","type":"exec","z":"5496fb63.715064","command":"sudo qmicli -d /dev/cdc-wdm0 --dms-set-operating-mode='online'","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":950,"y":100,"wires":[["b7a00464.111e68"],[],[]]},{"id":"b7a00464.111e68","type":"exec","z":"5496fb63.715064","command":"sudo qmicli -d /dev/cdc-wdm0 --dms-set-operating-mode='online'","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":650,"y":180,"wires":[["fd1fad95.3ff35"],[],[]]},{"id":"fd1fad95.3ff35","type":"exec","z":"5496fb63.715064","command":"echo 'Y' | sudo tee /sys/class/net/wwan0/qmi/raw_ip","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":160,"wires":[["480e8a06.19fe94"],[],[]]},{"id":"480e8a06.19fe94","type":"exec","z":"5496fb63.715064","command":"sudo ip link set wwan0 down","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":280,"wires":[["4728e1e5.2c10f"],[],[]]},{"id":"4728e1e5.2c10f","type":"exec","z":"5496fb63.715064","command":"sudo ip link set wwan0 up","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1390,"y":280,"wires":[["65a66243.ac48ec"],[],[]]},{"id":"63f3f2da.47497c","type":"exec","z":"5496fb63.715064","command":"sudo udhcpc -i wwan0","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1560,"y":340,"wires":[["90f158bc.6ed078"],[],[]]},{"id":"65a66243.ac48ec","type":"exec","z":"5496fb63.715064","command":"sudo qmicli --device=/dev/cdc-wdm0 --device-open-proxy --wds-start-network=\"ip-type=4,apn= fast.t-mobile.com\" --client-no-release-cid","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":890,"y":360,"wires":[["63f3f2da.47497c"],[],[]]},{"id":"90f158bc.6ed078","type":"exec","z":"5496fb63.715064","command":"ip a s wwan0","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1630,"y":160,"wires":[["1425b1ff.91c9be"],[],[]]},{"id":"5c2121bd.1e821","type":"ui_button","z":"5496fb63.715064","name":"","group":"12aa27dd.6387d8","order":0,"width":0,"height":0,"passthru":false,"label":"Stop Detect","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"yes","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1720,"wires":[["c35fbda5.c1a43"]]},{"id":"c35fbda5.c1a43","type":"file","z":"5496fb63.715064","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/terminate.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":530,"y":1720,"wires":[["87189d78.4f4ba"]]},{"id":"752651d5.3bde3","type":"debug","z":"5496fb63.715064","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1940,"wires":[]},{"id":"c8246afc.f396e8","type":"exec","z":"5496fb63.715064","command":"/home/pi/TF.sh","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":1880,"wires":[["752651d5.3bde3","b5760c66.fc72e"],[],[]]},{"id":"4e0ad1e6.c35e2","type":"ui_button","z":"5496fb63.715064","name":"","group":"12aa27dd.6387d8","order":4,"width":0,"height":0,"passthru":false,"label":"Start detect","tooltip":"","color":"","bgcolor":"Green","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1880,"wires":[["c8246afc.f396e8","4382a572.b8881c"]]},{"id":"b5760c66.fc72e","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Waiting to start system","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1860,"wires":[["4e1053b7.4da02c"]]},{"id":"4382a572.b8881c","type":"delay","z":"5496fb63.715064","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":2060,"wires":[["aadde8b8.a79798"]]},{"id":"aadde8b8.a79798","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"System is running","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":2040,"wires":[["4e1053b7.4da02c"]]},{"id":"87cf28dd.9853f8","type":"file in","z":"5496fb63.715064","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/detect.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":220,"y":2360,"wires":[["69c5727f.88eeec"]]},{"id":"d1732bf8.f28738","type":"debug","z":"5496fb63.715064","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1490,"y":2360,"wires":[]},{"id":"69c5727f.88eeec","type":"function","z":"5496fb63.715064","name":"","func":"if (msg.payload === \"person\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":2360,"wires":[["169e3d5d.39d2f3"]]},{"id":"169e3d5d.39d2f3","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Detect\",\"body\":\"Person is in the area\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2360,"wires":[["ed44b724.524a98"]]},{"id":"ed44b724.524a98","type":"remote-notification","z":"5496fb63.715064","confignode":"8c5fe222.d775f","name":"","notificationTitle":"payload.title","notificationTitleType":"msg","notificationBody":"payload.body","notificationBodyType":"msg","notificationSound":"default","notificationSoundComputed":"payload.sound","notificationSoundComputedType":"msg","output":1,"x":1050,"y":2360,"wires":[["d1732bf8.f28738"]]},{"id":"cd335ef.06b14a","type":"file in","z":"5496fb63.715064","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/detect.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":2740,"wires":[["1554d1ea.70f2fe","948fa31a.7c081"]]},{"id":"1554d1ea.70f2fe","type":"function","z":"5496fb63.715064","name":"","func":"if (msg.payload == \"person\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":2740,"wires":[["d04960a3.545bd"]]},{"id":"948fa31a.7c081","type":"trigger","z":"5496fb63.715064","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"\"person\"","bytopic":"all","topic":"topic","outputs":1,"x":850,"y":2880,"wires":[["d29a2f2c.e7035"]]},{"id":"d04960a3.545bd","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Person detect\",\"body\":\"Person is in the area\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2740,"wires":[["72e3e290.1d059c"]]},{"id":"d29a2f2c.e7035","type":"file","z":"5496fb63.715064","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/detect.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1220,"y":2880,"wires":[[]]},{"id":"e7be23ca.f31c1","type":"inject","z":"5496fb63.715064","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2740,"wires":[["cd335ef.06b14a"]]},{"id":"72e3e290.1d059c","type":"remote-notification","z":"5496fb63.715064","confignode":"8c5fe222.d775f","name":"","notificationTitle":"payload.title","notificationTitleType":"msg","notificationBody":"payload.body","notificationBodyType":"msg","notificationSound":"default","notificationSoundComputed":"payload.sound","notificationSoundComputedType":"msg","output":1,"x":1310,"y":2740,"wires":[[]]},{"id":"4e1053b7.4da02c","type":"ui_text","z":"5496fb63.715064","group":"12aa27dd.6387d8","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","x":1510,"y":1860,"wires":[]},{"id":"87189d78.4f4ba","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"System is disabled","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1720,"wires":[["4e1053b7.4da02c"]]},{"id":"bb4ca59.997af58","type":"remote-access","z":"c2ea2b17.4ccec8","confignode":"8c5fe222.d775f","name":"","verbose":0,"x":160,"y":80,"wires":[[]]},{"id":"dfff97c.3840368","type":"remote-access","z":"9116c228.7e108","confignode":"8c5fe222.d775f","name":"","verbose":0,"x":160,"y":40,"wires":[[]]},{"id":"84a27dd0.29b99","type":"ui_template","z":"9116c228.7e108","group":"d52e55c1.e2eff8","name":"","order":0,"width":"6","height":"6","format":"<iframe src= \"https://g1.ipcamlive.com/player/player.php?alias=6159283a01099\"  frameborder=\"0\" allowfullscreen> </iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1440,"y":520,"wires":[[]]},{"id":"1425b1ff.91c9be","type":"exec","z":"5496fb63.715064","command":"sudo ifmetric wwan0 50","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1850,"y":160,"wires":[[],[],[]]},{"id":"11d436a3.0e9c69","type":"rpi-gpio in","z":"5a23538f.2b5c1c","name":"","pin":"38","intype":"down","debounce":"25","read":true,"x":180,"y":280,"wires":[["5dc91013.2165e"]]},{"id":"730465b0.ddd79c","type":"ui_text","z":"5a23538f.2b5c1c","group":"fd80c90c.552e08","order":1,"width":0,"height":0,"name":"","label":"Door Status","format":"{{msg.payload}}","layout":"row-center","className":"","x":950,"y":320,"wires":[]},{"id":"9f8cdd56.a80ee","type":"change","z":"5a23538f.2b5c1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":220,"wires":[["730465b0.ddd79c"]]},{"id":"916d38f1.d872f8","type":"ui_switch","z":"5a23538f.2b5c1c","name":"","label":"Door Control","tooltip":"","group":"fd80c90c.552e08","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":190,"y":440,"wires":[["8a1e42c9.412b5","abe0cf52.06915"]]},{"id":"caffde49.31ae3","type":"change","z":"5a23538f.2b5c1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":320,"wires":[["730465b0.ddd79c"]]},{"id":"5dc91013.2165e","type":"switch","z":"5a23538f.2b5c1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":280,"wires":[["9f8cdd56.a80ee"],["caffde49.31ae3"]]},{"id":"28b9abed.d07044","type":"ui_text","z":"5a23538f.2b5c1c","group":"fd80c90c.552e08","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","x":1110,"y":440,"wires":[]},{"id":"a46752a2.b418d","type":"change","z":"5a23538f.2b5c1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Opening","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":420,"wires":[["28b9abed.d07044"]]},{"id":"4a1cc38e.3adc3c","type":"change","z":"5a23538f.2b5c1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Closing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":600,"wires":[["28b9abed.d07044"]]},{"id":"8a1e42c9.412b5","type":"switch","z":"5a23538f.2b5c1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":440,"wires":[["82e69820.0d6e68","a46752a2.b418d"],["4a1cc38e.3adc3c","aa29e3aa.2d609"]]},{"id":"82e69820.0d6e68","type":"delay","z":"5a23538f.2b5c1c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":460,"wires":[["79cb89db.619428"]]},{"id":"79cb89db.619428","type":"change","z":"5a23538f.2b5c1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Door is now open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":460,"wires":[["28b9abed.d07044"]]},{"id":"8f00f470.733d78","type":"change","z":"5a23538f.2b5c1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Door is now closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":680,"wires":[["28b9abed.d07044"]]},{"id":"aa29e3aa.2d609","type":"delay","z":"5a23538f.2b5c1c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":680,"wires":[["8f00f470.733d78"]]},{"id":"abe0cf52.06915","type":"rpi-gpio out","z":"5a23538f.2b5c1c","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":430,"y":580,"wires":[]},{"id":"7e55eb8.67d9c14","type":"remote-access","z":"5a23538f.2b5c1c","confignode":"8c5fe222.d775f","name":"","verbose":0,"x":180,"y":80,"wires":[[]]},{"id":"31f1e3a5.1d3b3c","type":"comment","z":"95dac048.34684","name":"","info":"free | grep Mem | awk '{print (100*($4+$6+$7)/$2)}'\nfree | grep Mem | awk '{ print(\"%.4f %\\n\"+$4/$2 * 100.0) }'","x":650,"y":80,"wires":[]},{"id":"6757dc9f.792504","type":"inject","z":"5a23538f.2b5c1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":1180,"wires":[["23f5cb94.03cb04"]]},{"id":"fa1abaf4.885038","type":"template","z":"5a23538f.2b5c1c","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"style=\"width=\"569\" height=\"197\"\"/>","output":"str","x":600,"y":1260,"wires":[["b42fd1dc.ba144"]]},{"id":"b42fd1dc.ba144","type":"ui_template","z":"5a23538f.2b5c1c","group":"b536f397.1b878","name":"RIO Logo","order":8,"width":"6","height":"6","format":"</div><style>\n    body {\n        background-image: msg.pay;\n        background-repeat: no-repeat;\n        background-position: right top;\n        background-size: 100%;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":800,"y":1260,"wires":[[]]},{"id":"23f5cb94.03cb04","type":"file in","z":"5a23538f.2b5c1c","name":"","filename":"/home/pi/Pictures/utsa.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":610,"y":1180,"wires":[["b83253e6.36f6a"]]},{"id":"b83253e6.36f6a","type":"base64","z":"5a23538f.2b5c1c","name":"","action":"","property":"payload","x":1000,"y":1180,"wires":[["fa1abaf4.885038"]]},{"id":"5c10bdf0.aa77f4","type":"comment","z":"5a23538f.2b5c1c","name":"On inject add the groov RIO logo to the dashboard","info":"","x":490,"y":1120,"wires":[]}]