Node-Red/Flow 10-17-2021.json
[{"id":"5496fb63.715064","type":"tab","label":"General","disabled":false,"info":""},{"id":"b8548de1.573d1","type":"ui_button","z":"5496fb63.715064","name":"","group":"2b4fd5f7.85e05a","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":120,"y":700,"wires":[["e558ec91.5e7cb"]]},{"id":"e558ec91.5e7cb","type":"exec","z":"5496fb63.715064","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":320.2222213745117,"y":699.9999761581421,"wires":[[],[],[]]},{"id":"1e1909e2.c49106","type":"exec","z":"5496fb63.715064","command":"vcgencmd measure_volts core","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":410,"y":960,"wires":[["a91a199e.427d18"],[],[]]},{"id":"a91a199e.427d18","type":"function","z":"5496fb63.715064","name":"TEST","func":"var str = msg.payload;\nmsg.payload = str.substring(5,11);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":960,"wires":[["719be38d.bfb4cc","66629beb.e3c164","8a9180aa.e7ef1","88b89c9.e93e16"]]},{"id":"719be38d.bfb4cc","type":"debug","z":"5496fb63.715064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":960,"wires":[]},{"id":"a8645ae2.2334f8","type":"remote-notification","z":"5496fb63.715064","confignode":"8c5fe222.d775f","name":"","notificationTitle":"payload.title","notificationTitleType":"msg","notificationBody":"payload.body","notificationBodyType":"msg","notificationSound":"default","notificationSoundComputed":"payload.sound","notificationSoundComputedType":"msg","output":1,"x":1370,"y":1040,"wires":[["f1f45450.250f78"]]},{"id":"f1f45450.250f78","type":"debug","z":"5496fb63.715064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":1040,"wires":[]},{"id":"2a0df4e8.119f4c","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Low Voltage\",\"body\":\"The Raspberry Pi is not under Voltage\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1020,"wires":[["a8645ae2.2334f8"]]},{"id":"b9ca34c4.ae28c8","type":"ui_toast","z":"5496fb63.715064","position":"top right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1100,"y":1160,"wires":[]},{"id":"66629beb.e3c164","type":"function","z":"5496fb63.715064","name":"","func":"num = parseFloat(msg.payload);\nif(num >=0.80 && num <=1.25)\n    msg.payload = \"Raspberry Pi is not under Voltage\";\nelse\n    msg.payload = \"Rasberry Pi is under Voltage\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1160,"wires":[["b9ca34c4.ae28c8"]]},{"id":"8a9180aa.e7ef1","type":"function","z":"5496fb63.715064","name":"","func":"num = parseFloat(msg.payload);\nif(num >= 0.80 && num <=1.25)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1020,"wires":[["2a0df4e8.119f4c"]]},{"id":"88b89c9.e93e16","type":"function","z":"5496fb63.715064","name":"","func":"num = parseFloat(msg.payload);\nif(num < 0.80 || num > 1.25)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1080,"wires":[["d5da06af.aac378"]]},{"id":"d5da06af.aac378","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Low Voltage\",\"body\":\"Rapsberry Pi is under Voltage\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1080,"wires":[["a8645ae2.2334f8"]]},{"id":"1c583582.f750ba","type":"ui_button","z":"5496fb63.715064","name":"","group":"2b4fd5f7.85e05a","order":1,"width":0,"height":0,"passthru":false,"label":"Check Rasp Voltage","tooltip":"","color":"","bgcolor":"Green","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":140,"y":960,"wires":[["1e1909e2.c49106"]]},{"id":"4cdd710b.71705","type":"remote-access","z":"5496fb63.715064","confignode":"8c5fe222.d775f","name":"","verbose":0,"x":160,"y":40,"wires":[[]]},{"id":"1ce04814.8fb858","type":"function","z":"5496fb63.715064","name":"take data","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"text\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return\n}\nif(msg.topic === \"save\"){\n    msg.payload = data;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1460,"wires":[["5ebcc527.3192bc","dea6b49c.9243f8","13523084.0187bf"]]},{"id":"8c7ec1b8.efa2e","type":"ui_text_input","z":"5496fb63.715064","name":"Phone Number","label":"Phone Number","tooltip":"","group":"b55c5b66.8d52c8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task1","sendOnBlur":true,"topicType":"str","x":140,"y":1460,"wires":[["1ce04814.8fb858"]]},{"id":"dea6b49c.9243f8","type":"ui_button","z":"5496fb63.715064","name":"","group":"b55c5b66.8d52c8","order":2,"width":0,"height":0,"passthru":false,"label":"Insert Phone Number","tooltip":"","color":"","bgcolor":"Orange","className":"","icon":"","payload":"msg","payloadType":"str","topic":"","topicType":"str","x":880,"y":1460,"wires":[[]]},{"id":"13523084.0187bf","type":"debug","z":"5496fb63.715064","name":"Take Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":1580,"wires":[]},{"id":"5ebcc527.3192bc","type":"json","z":"5496fb63.715064","name":"","property":"payload","action":"str","pretty":false,"x":830,"y":1340,"wires":[["8881518b.56844"]]},{"id":"8881518b.56844","type":"file","z":"5496fb63.715064","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/phone.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1160,"y":1340,"wires":[["90a4d48d.a1b158"]]},{"id":"90a4d48d.a1b158","type":"ui_text","z":"5496fb63.715064","group":"b55c5b66.8d52c8","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1470,"y":1340,"wires":[]},{"id":"ac5c006c.95895","type":"ui_button","z":"5496fb63.715064","name":"","group":"ae14d714.6c04e8","order":9,"width":0,"height":0,"passthru":true,"label":"Activate GSM","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":100,"wires":[["66523c7.ca14ac4"]]},{"id":"49516dd6.4f0004","type":"inject","z":"5496fb63.715064","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["ac5c006c.95895"]]},{"id":"66523c7.ca14ac4","type":"exec","z":"5496fb63.715064","command":"sudo ip link set wwan0 down","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":100,"wires":[["80213b9e.aa82e8"],[],[]]},{"id":"80213b9e.aa82e8","type":"exec","z":"5496fb63.715064","command":"sudo qmicli -d /dev/cdc-wdm0 --dms-set-operating-mode='online'","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":950,"y":100,"wires":[["b7a00464.111e68"],[],[]]},{"id":"b7a00464.111e68","type":"exec","z":"5496fb63.715064","command":"sudo qmicli -d /dev/cdc-wdm0 --dms-set-operating-mode='online'","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":650,"y":180,"wires":[["fd1fad95.3ff35"],[],[]]},{"id":"fd1fad95.3ff35","type":"exec","z":"5496fb63.715064","command":"echo 'Y' | sudo tee /sys/class/net/wwan0/qmi/raw_ip","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":160,"wires":[["480e8a06.19fe94"],[],[]]},{"id":"480e8a06.19fe94","type":"exec","z":"5496fb63.715064","command":"sudo ip link set wwan0 down","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":280,"wires":[["4728e1e5.2c10f"],[],[]]},{"id":"4728e1e5.2c10f","type":"exec","z":"5496fb63.715064","command":"sudo ip link set wwan0 up","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1390,"y":280,"wires":[["65a66243.ac48ec"],[],[]]},{"id":"63f3f2da.47497c","type":"exec","z":"5496fb63.715064","command":"sudo udhcpc -i wwan0","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1560,"y":340,"wires":[["90f158bc.6ed078"],[],[]]},{"id":"65a66243.ac48ec","type":"exec","z":"5496fb63.715064","command":"sudo qmicli --device=/dev/cdc-wdm0 --device-open-proxy --wds-start-network=\"ip-type=4,apn= fast.t-mobile.com\" --client-no-release-cid","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":890,"y":360,"wires":[["63f3f2da.47497c"],[],[]]},{"id":"90f158bc.6ed078","type":"exec","z":"5496fb63.715064","command":"ip a s wwan0","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1630,"y":160,"wires":[[],[],[]]},{"id":"5c2121bd.1e821","type":"ui_button","z":"5496fb63.715064","name":"","group":"12aa27dd.6387d8","order":0,"width":0,"height":0,"passthru":false,"label":"Stop Detect","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"yes","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1720,"wires":[["c35fbda5.c1a43"]]},{"id":"c35fbda5.c1a43","type":"file","z":"5496fb63.715064","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/terminate.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":530,"y":1720,"wires":[["87189d78.4f4ba"]]},{"id":"752651d5.3bde3","type":"debug","z":"5496fb63.715064","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1940,"wires":[]},{"id":"c8246afc.f396e8","type":"exec","z":"5496fb63.715064","command":"/home/pi/TF.sh","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":1880,"wires":[["752651d5.3bde3","b5760c66.fc72e"],[],[]]},{"id":"4e0ad1e6.c35e2","type":"ui_button","z":"5496fb63.715064","name":"","group":"12aa27dd.6387d8","order":4,"width":0,"height":0,"passthru":false,"label":"Start detect","tooltip":"","color":"","bgcolor":"Green","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1880,"wires":[["c8246afc.f396e8","4382a572.b8881c"]]},{"id":"b5760c66.fc72e","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Waiting to start system","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1860,"wires":[["4e1053b7.4da02c"]]},{"id":"4382a572.b8881c","type":"delay","z":"5496fb63.715064","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":2060,"wires":[["aadde8b8.a79798"]]},{"id":"aadde8b8.a79798","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"System is running","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":2040,"wires":[["4e1053b7.4da02c"]]},{"id":"87cf28dd.9853f8","type":"file in","z":"5496fb63.715064","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/detect.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":220,"y":2360,"wires":[["69c5727f.88eeec"]]},{"id":"d1732bf8.f28738","type":"debug","z":"5496fb63.715064","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1490,"y":2360,"wires":[]},{"id":"69c5727f.88eeec","type":"function","z":"5496fb63.715064","name":"","func":"if (msg.payload === \"person\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":2360,"wires":[["169e3d5d.39d2f3"]]},{"id":"169e3d5d.39d2f3","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Detect\",\"body\":\"Person is in the area\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2360,"wires":[["ed44b724.524a98"]]},{"id":"ed44b724.524a98","type":"remote-notification","z":"5496fb63.715064","confignode":"8c5fe222.d775f","name":"","notificationTitle":"payload.title","notificationTitleType":"msg","notificationBody":"payload.body","notificationBodyType":"msg","notificationSound":"default","notificationSoundComputed":"payload.sound","notificationSoundComputedType":"msg","output":1,"x":1050,"y":2360,"wires":[["d1732bf8.f28738"]]},{"id":"cd335ef.06b14a","type":"file in","z":"5496fb63.715064","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/detect.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":2740,"wires":[["1554d1ea.70f2fe","948fa31a.7c081"]]},{"id":"1554d1ea.70f2fe","type":"function","z":"5496fb63.715064","name":"","func":"if (msg.payload == \"person\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":2740,"wires":[["d04960a3.545bd"]]},{"id":"948fa31a.7c081","type":"trigger","z":"5496fb63.715064","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"\"person\"","bytopic":"all","topic":"topic","outputs":1,"x":850,"y":2880,"wires":[["d29a2f2c.e7035"]]},{"id":"d04960a3.545bd","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Person detect\",\"body\":\"Person is in the area\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2740,"wires":[["72e3e290.1d059c"]]},{"id":"d29a2f2c.e7035","type":"file","z":"5496fb63.715064","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/detect.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1220,"y":2880,"wires":[[]]},{"id":"e7be23ca.f31c1","type":"inject","z":"5496fb63.715064","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2740,"wires":[["cd335ef.06b14a"]]},{"id":"72e3e290.1d059c","type":"remote-notification","z":"5496fb63.715064","confignode":"8c5fe222.d775f","name":"","notificationTitle":"payload.title","notificationTitleType":"msg","notificationBody":"payload.body","notificationBodyType":"msg","notificationSound":"default","notificationSoundComputed":"payload.sound","notificationSoundComputedType":"msg","output":1,"x":1310,"y":2740,"wires":[[]]},{"id":"4e1053b7.4da02c","type":"ui_text","z":"5496fb63.715064","group":"12aa27dd.6387d8","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","x":1510,"y":1860,"wires":[]},{"id":"87189d78.4f4ba","type":"change","z":"5496fb63.715064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"System is disabled","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1720,"wires":[["4e1053b7.4da02c"]]},{"id":"2b4fd5f7.85e05a","type":"ui_group","name":"Raspberi Pi Control","tab":"e90f92b5.ca36b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8c5fe222.d775f","type":"remote-config","name":"test","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"hkqodc40yoirg8kmryie9id8cbkmgqzp0fb5fd015h4pm1f9qyupmypdgxxeipzd","server":"nodered03.remote-red.com","region":"us"},{"id":"b55c5b66.8d52c8","type":"ui_group","name":"Phone# Setting","tab":"e90f92b5.ca36b","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ae14d714.6c04e8","type":"ui_group","name":"Network","tab":"e90f92b5.ca36b","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"12aa27dd.6387d8","type":"ui_group","name":"Motion Detection Control","tab":"e90f92b5.ca36b","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e90f92b5.ca36b","type":"ui_tab","name":"General","icon":"dashboard","disabled":false,"hidden":false}]