Node-Red/flows-10-10-2021.json
[{"id":"f63cba4c.336d58","type":"tab","label":"Main","disabled":false,"info":""},{"id":"9cf3a6d.1104258","type":"tab","label":"Raspberry monitoring","disabled":false,"info":""},{"id":"e49182792ef4899a","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b35d2df3b4391a62","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f1a2366f.a829f8","type":"ui_group","name":"Enter Phone Number","tab":"3e42440f.5b487c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3e42440f.5b487c","type":"ui_tab","name":"Main","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a312bb8e.67b4","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"d9bf7560.df5e58","type":"ui_tab","name":"Test","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"412f931a.1cd37c","type":"ui_tab","name":"Temp","icon":"dashboard","disabled":false,"hidden":false},{"id":"6e011ab5.6d0ae4","type":"ui_tab","name":"Temp","icon":"dashboard","disabled":false,"hidden":false},{"id":"7af2d9c8.0a9148","type":"ui_tab","name":"RTSP","icon":"dashboard","order":13,"disabled":false,"hidden":false},{"id":"b8091831.112b48","type":"ui_tab","name":"Temp","icon":"dashboard","disabled":false,"hidden":false},{"id":"df07ccac.714e9","type":"ui_tab","name":"LiveVideo","icon":"dashboard","disabled":false,"hidden":false},{"id":"bebc2a08.8975f8","type":"ui_group","name":"Camera","tab":"f1b5e757.dd28e8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"eddced2d.9f4b2","type":"ui_group","name":"Video capture Control","tab":"f1b5e757.dd28e8","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f1b5e757.dd28e8","type":"ui_tab","name":"Camera Feed","icon":"dashboard","disabled":false,"hidden":false},{"id":"4d29d4f8.eebbac","type":"ui_tab","name":"Temp","icon":"dashboard","disabled":false,"hidden":false},{"id":"9cb4bc4d.96552","type":"ui_group","name":"System","tab":"ad4a1223.94ae8","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd70abe0.14cb38","type":"ui_group","name":"OS","tab":"ad4a1223.94ae8","order":5,"disp":true,"width":"6","collapse":false},{"id":"14bc5267.4d798e","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"raspberry_do_gama_alive","birthQos":"0","birthRetain":"true","birthPayload":"Raspberry ativo","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ad4a1223.94ae8","type":"ui_tab","z":"9cf3a6d.1104258","name":"Raspbery PI (Control Panel)","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"65627191.d6fb1","type":"remote-config","name":"Remote to App","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"gr1o8kgjjeu2tcawdt52vkchbmau2m5n0cr6vcp5xo0efdjcwiy5wcs9kx8exjla","server":"nodered03.remote-red.com","region":"us"},{"id":"31d236ec.08882a","type":"comment","z":"f63cba4c.336d58","name":"Video stream","info":"Reolink article how to get the stream URL:\nhttps://support.reolink.com/hc/en-us/articles/360007010473-How-to-Live-View-Reolink-Cameras-via-VLC-Media-Player\n\nFFmpeg should install just by\nsudo apt-get install ffmpeg\n\nbut it did not work for me, it looks like it is not available raspbian jessie, please read Post 7 from user Strontium on this discussion: https://www.raspberrypi.org/forums/viewtopic.php?t=170094","x":150,"y":300,"wires":[]},{"id":"c5106a4f.c862d8","type":"exec","z":"f63cba4c.336d58","command":"ffmpeg -rtsp_transport tcp -f rtsp -i rtsp://admin:utsa1234@192.168.2.250:554/cam/realmonitor?channel=1&subtype=1 -f image2pipe pipe:1","addpay":"","append":"","useSpawn":"true","timer":"60","oldrc":false,"name":"Decode RTSP stream","x":800,"y":400,"wires":[["aee4b32d.31a95","9a8212a7.cc6b8"],[],[]]},{"id":"fd848212.8fc54","type":"inject","z":"f63cba4c.336d58","name":"Start stream","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":440,"wires":[["c5106a4f.c862d8"]]},{"id":"aee4b32d.31a95","type":"image","z":"f63cba4c.336d58","name":"","width":"200","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":true,"outputs":1,"x":1070,"y":420,"wires":[[]]},{"id":"791e0455.831bdc","type":"inject","z":"f63cba4c.336d58","name":"Pause all streams","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SIGSTOP","payloadType":"str","x":170,"y":500,"wires":[["15b0e060.6d7f3"]]},{"id":"436f6129.e80c","type":"inject","z":"f63cba4c.336d58","name":"Resume all streams","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SIGCONT","payloadType":"str","x":170,"y":560,"wires":[["15b0e060.6d7f3"]]},{"id":"15b0e060.6d7f3","type":"change","z":"f63cba4c.336d58","name":"","rules":[{"t":"set","p":"kill","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":600,"wires":[["c5106a4f.c862d8"]]},{"id":"31654ac.90e70b6","type":"inject","z":"f63cba4c.336d58","name":"Stop all streams","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SIGTERM","payloadType":"str","x":160,"y":620,"wires":[["15b0e060.6d7f3"]]},{"id":"60c4036d.f073dc","type":"ui_template","z":"f63cba4c.336d58","group":"bebc2a08.8975f8","name":"","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1480,"y":360,"wires":[[]]},{"id":"9a8212a7.cc6b8","type":"base64","z":"f63cba4c.336d58","name":"","action":"str","property":"payload","x":1080,"y":360,"wires":[["1fa443b9.1c2aac"]]},{"id":"1fa443b9.1c2aac","type":"template","z":"f63cba4c.336d58","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":1260,"y":360,"wires":[["60c4036d.f073dc"]]},{"id":"65644a9d.b9c9a4","type":"ui_button","z":"f63cba4c.336d58","name":"","group":"eddced2d.9f4b2","order":0,"width":"0","height":"0","passthru":false,"label":"Start Stream","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"payload","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":360,"wires":[["c5106a4f.c862d8"]]},{"id":"e02ebf8d.a5dd9","type":"ui_button","z":"f63cba4c.336d58","name":"","group":"eddced2d.9f4b2","order":0,"width":"0","height":"0","passthru":false,"label":"Stop Stream","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"SIGTERM","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":680,"wires":[["15b0e060.6d7f3"]]},{"id":"89d9d77a.0e4028","type":"function","z":"f63cba4c.336d58","name":"take data","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"text\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return\n}\nif(msg.topic === \"save\"){\n    msg.payload = data;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":940,"wires":[["50111982.945058","33bccf14.0615d","becbfb56.89aad8"]]},{"id":"50111982.945058","type":"json","z":"f63cba4c.336d58","name":"","property":"payload","action":"str","pretty":false,"x":830,"y":820,"wires":[["9c737e8b.db458"]]},{"id":"9c737e8b.db458","type":"file","z":"f63cba4c.336d58","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/phone.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1160,"y":820,"wires":[["7b0b1ead.028c5"]]},{"id":"265305d5.3bb68a","type":"ui_text_input","z":"f63cba4c.336d58","name":"Phone Number","label":"Phone Number","tooltip":"","group":"f1a2366f.a829f8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task1","sendOnBlur":true,"topicType":"str","x":140,"y":940,"wires":[["89d9d77a.0e4028"]]},{"id":"33bccf14.0615d","type":"ui_button","z":"f63cba4c.336d58","name":"","group":"f1a2366f.a829f8","order":2,"width":0,"height":0,"passthru":false,"label":"Insert Phone Number","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"msg","payloadType":"str","topic":"","topicType":"str","x":880,"y":940,"wires":[[]]},{"id":"becbfb56.89aad8","type":"debug","z":"f63cba4c.336d58","name":"Take Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":1060,"wires":[]},{"id":"11d3eb89.d07d04","type":"ui_button","z":"f63cba4c.336d58","name":"","group":"f1a2366f.a829f8","order":0,"width":0,"height":0,"passthru":false,"label":"Stop Detect","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"yes","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1320,"wires":[["69334d9b.79ba74"]]},{"id":"69334d9b.79ba74","type":"file","z":"f63cba4c.336d58","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/terminate.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":530,"y":1320,"wires":[["eceffe12.28b7b"]]},{"id":"d1e73352.3d6b2","type":"debug","z":"f63cba4c.336d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1540,"wires":[]},{"id":"f3cbbe96.4b6c4","type":"exec","z":"f63cba4c.336d58","command":"/home/pi/TF.sh","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":1480,"wires":[["d1e73352.3d6b2","66ebb0dc.73f0d"],[],[]]},{"id":"f8cd65b5.cb2548","type":"ui_button","z":"f63cba4c.336d58","name":"","group":"f1a2366f.a829f8","order":4,"width":0,"height":0,"passthru":false,"label":"Start detect","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1480,"wires":[["f3cbbe96.4b6c4","79e8a158.dd498"]]},{"id":"66ebb0dc.73f0d","type":"change","z":"f63cba4c.336d58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Waiting to start system","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1460,"wires":[["8c017589.e09e98"]]},{"id":"79e8a158.dd498","type":"delay","z":"f63cba4c.336d58","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1660,"wires":[["f0140c75.b84"]]},{"id":"f0140c75.b84","type":"change","z":"f63cba4c.336d58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"System is running","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1640,"wires":[["8c017589.e09e98"]]},{"id":"fb7e4f0c.5f5f9","type":"file in","z":"f63cba4c.336d58","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/detect.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":220,"y":1960,"wires":[["a076f7ee.3e1398"]]},{"id":"ade7d6c9.b38ba8","type":"debug","z":"f63cba4c.336d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":1960,"wires":[]},{"id":"a076f7ee.3e1398","type":"function","z":"f63cba4c.336d58","name":"","func":"if (msg.payload === \"person\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1960,"wires":[["52c4f4bf.58e1fc"]]},{"id":"52c4f4bf.58e1fc","type":"change","z":"f63cba4c.336d58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Detect\",\"body\":\"Person is in the area\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1960,"wires":[["73e87503.4035bc"]]},{"id":"73e87503.4035bc","type":"remote-notification","z":"f63cba4c.336d58","confignode":"65627191.d6fb1","name":"","notificationTitle":"payload.title","notificationTitleType":"msg","notificationBody":"payload.body","notificationBodyType":"msg","notificationSound":"default","notificationSoundComputed":"payload.sound","notificationSoundComputedType":"msg","output":1,"x":1050,"y":1960,"wires":[["ade7d6c9.b38ba8"]]},{"id":"d8698d4e.6129c","type":"file in","z":"f63cba4c.336d58","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/detect.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":2340,"wires":[["ebd3d87e.628e68","6fa97ab8.b6c354"]]},{"id":"ebd3d87e.628e68","type":"function","z":"f63cba4c.336d58","name":"","func":"if (msg.payload == \"person\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":2340,"wires":[["e5b930c3.a1e71"]]},{"id":"6fa97ab8.b6c354","type":"trigger","z":"f63cba4c.336d58","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"\"person\"","bytopic":"all","topic":"topic","outputs":1,"x":850,"y":2480,"wires":[["5c339dac.eaf224"]]},{"id":"e5b930c3.a1e71","type":"change","z":"f63cba4c.336d58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Person detect\",\"body\":\"Person is in the area\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2340,"wires":[["ca85ddfe.c6643"]]},{"id":"5c339dac.eaf224","type":"file","z":"f63cba4c.336d58","name":"","filename":"/home/pi/tflite1/Sample_TFLite_model/detect.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1220,"y":2480,"wires":[[]]},{"id":"69fe2fa1.7fbe","type":"inject","z":"f63cba4c.336d58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2340,"wires":[["d8698d4e.6129c"]]},{"id":"ca85ddfe.c6643","type":"remote-notification","z":"f63cba4c.336d58","confignode":"","name":"","notificationTitle":"payload.title","notificationTitleType":"msg","notificationBody":"payload.body","notificationBodyType":"msg","notificationSound":"default","notificationSoundComputed":"payload.sound","notificationSoundComputedType":"msg","output":1,"x":1310,"y":2340,"wires":[[]]},{"id":"d4feb199.b898b","type":"ui_gauge","z":"9cf3a6d.1104258","name":"","group":"9cb4bc4d.96552","order":1,"width":"3","height":"3","gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"60","className":"","x":683,"y":33,"wires":[]},{"id":"c0682e5c.a4fc","type":"exec","z":"9cf3a6d.1104258","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":325.2221908569336,"y":46.33333683013916,"wires":[["95ae4c48.9f606"],[],[]]},{"id":"2be04c82.d0af74","type":"inject","z":"9cf3a6d.1104258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":107.49996185302734,"y":46.805556297302246,"wires":[["c0682e5c.a4fc","92285ea6.f97a7","c0ffe68.afd6e18"]]},{"id":"95ae4c48.9f606","type":"function","z":"9cf3a6d.1104258","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":471.888858795166,"y":33.00000190734863,"wires":[["d4feb199.b898b","4bae8072.e81c2"]]},{"id":"f4592b30.2f0528","type":"ui_button","z":"9cf3a6d.1104258","name":"","group":"dd70abe0.14cb38","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":114.66669464111328,"y":330.0000696182251,"wires":[["cf3854e6.653878"]]},{"id":"cf3854e6.653878","type":"exec","z":"9cf3a6d.1104258","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":314.888916015625,"y":330.0000457763672,"wires":[[],[],[]]},{"id":"4b4a0861.092b28","type":"ui_button","z":"9cf3a6d.1104258","name":"","group":"dd70abe0.14cb38","order":2,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":104.27777099609375,"y":386.47229862213135,"wires":[["4de9dba1.ed7854"]]},{"id":"4de9dba1.ed7854","type":"exec","z":"9cf3a6d.1104258","command":"","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":324.1666564941406,"y":386.6944923400879,"wires":[[],[],[]]},{"id":"4bae8072.e81c2","type":"ui_chart","z":"9cf3a6d.1104258","name":"","group":"9cb4bc4d.96552","order":5,"width":"6","height":"4","label":"CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":683.9999389648438,"y":72.66667175292969,"wires":[[]]},{"id":"92285ea6.f97a7","type":"exec","z":"9cf3a6d.1104258","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":325.2221908569336,"y":126.33333683013916,"wires":[["404f06.1e77b0fc"],[],[]]},{"id":"c0ffe68.afd6e18","type":"exec","z":"9cf3a6d.1104258","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":325.2222099304199,"y":190.55557250976562,"wires":[["8cf70ed5.e49ec"],[],[]]},{"id":"404f06.1e77b0fc","type":"ui_gauge","z":"9cf3a6d.1104258","name":"","group":"9cb4bc4d.96552","order":4,"width":"3","height":"3","gtype":"gage","title":"CPU","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":645.111083984375,"y":114.11111450195312,"wires":[]},{"id":"8cf70ed5.e49ec","type":"ui_gauge","z":"9cf3a6d.1104258","name":"","group":"9cb4bc4d.96552","order":2,"width":"3","height":"3","gtype":"gage","title":"Memory free","label":"%","format":"{{parseInt(value)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":663.3333320617676,"y":176.55556392669678,"wires":[]},{"id":"a508a5b7.89a128","type":"exec","z":"9cf3a6d.1104258","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":322.88884353637695,"y":258.2222442626953,"wires":[["a8dc2f34.5e32b"],[],[]]},{"id":"ad4498e0.e7c278","type":"ui_gauge","z":"9cf3a6d.1104258","name":"","group":"9cb4bc4d.96552","order":3,"width":"3","height":"3","gtype":"gage","title":"Disk Space","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":661.1110496520996,"y":244.88890743255615,"wires":[]},{"id":"a8dc2f34.5e32b","type":"function","z":"9cf3a6d.1104258","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470.66661071777344,"y":244.88890171051025,"wires":[["ad4498e0.e7c278"]]},{"id":"5e6e69bb.0e1d38","type":"inject","z":"9cf3a6d.1104258","name":"","repeat":"60","crontab":"","once":true,"topic":"","payload":"","payloadType":"date","x":122.88884353637695,"y":258.2222442626953,"wires":[["a508a5b7.89a128"]]},{"id":"620c2ccf.7c7584","type":"ui_text","z":"9cf3a6d.1104258","group":"dd70abe0.14cb38","order":2,"width":"6","height":"2","name":"","label":"IP Address","format":"{{value.substring(0, value.indexOf(\" \"))}}","layout":"col-center","className":"","x":661.555591583252,"y":430.8889102935791,"wires":[]},{"id":"19fadb42.3d0c25","type":"inject","z":"9cf3a6d.1104258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":118.90821075439453,"y":445.567081451416,"wires":[["9cce8e0f.766f7"]]},{"id":"9cce8e0f.766f7","type":"exec","z":"9cf3a6d.1104258","command":"hostname","addpay":false,"append":"-I","useSpawn":"","timer":"","name":"Get Local IP","x":323.4637641906738,"y":446.06709480285645,"wires":[["b1e5e669.f1fd48","620c2ccf.7c7584"],[],[]]},{"id":"b1e5e669.f1fd48","type":"mqtt out","z":"9cf3a6d.1104258","name":"Send IP thru MQTT","topic":"raspberrypi3_ip_gama","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"14bc5267.4d798e","x":680.6859703063965,"y":380.34489250183105,"wires":[]},{"id":"c2ee1363.e3c4d","type":"exec","z":"9cf3a6d.1104258","command":"vcgencmd measure_volts core","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":410,"y":680,"wires":[["c888a3d2.224da"],[],[]]},{"id":"c888a3d2.224da","type":"function","z":"9cf3a6d.1104258","name":"TEST","func":"var str = msg.payload;\nmsg.payload = str.substring(5,11);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":680,"wires":[["a3babf54.145b","8a5e04d7.b351d8","c057ed4b.7a0e","5177be37.ab6d7"]]},{"id":"a3babf54.145b","type":"debug","z":"9cf3a6d.1104258","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":680,"wires":[]},{"id":"93cd93f2.6ba7f","type":"remote-notification","z":"9cf3a6d.1104258","confignode":"65627191.d6fb1","name":"","notificationTitle":"payload.title","notificationTitleType":"msg","notificationBody":"payload.body","notificationBodyType":"msg","notificationSound":"default","notificationSoundComputed":"payload.sound","notificationSoundComputedType":"msg","output":1,"x":1370,"y":760,"wires":[["e55919aa.770108"]]},{"id":"e55919aa.770108","type":"debug","z":"9cf3a6d.1104258","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":760,"wires":[]},{"id":"e544a5e.29c1458","type":"change","z":"9cf3a6d.1104258","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Low Voltage\",\"body\":\"The Raspberry Pi is not under Voltage\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":740,"wires":[["93cd93f2.6ba7f"]]},{"id":"ef94e9a3.dffdb8","type":"ui_toast","z":"9cf3a6d.1104258","position":"top right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1100,"y":880,"wires":[]},{"id":"8a5e04d7.b351d8","type":"function","z":"9cf3a6d.1104258","name":"","func":"num = parseFloat(msg.payload);\nif(num >=0.80 && num <=1.25)\n    msg.payload = \"Raspberry Pi is not under Voltage\";\nelse\n    msg.payload = \"Rasberry Pi is under Voltage\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":880,"wires":[["ef94e9a3.dffdb8"]]},{"id":"c057ed4b.7a0e","type":"function","z":"9cf3a6d.1104258","name":"","func":"num = parseFloat(msg.payload);\nif(num >= 0.80 && num <=1.25)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":740,"wires":[["e544a5e.29c1458"]]},{"id":"5177be37.ab6d7","type":"function","z":"9cf3a6d.1104258","name":"","func":"num = parseFloat(msg.payload);\nif(num < 0.80 || num > 1.25)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":800,"wires":[["8f4a923d.45c8f"]]},{"id":"8f4a923d.45c8f","type":"change","z":"9cf3a6d.1104258","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Low Voltage\",\"body\":\"Rapsberry Pi is under Voltage\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":800,"wires":[["93cd93f2.6ba7f"]]},{"id":"7e22feb7.5d1e2","type":"ui_button","z":"9cf3a6d.1104258","name":"","group":"dd70abe0.14cb38","order":1,"width":0,"height":0,"passthru":false,"label":"Check Rasp Voltage","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":140,"y":680,"wires":[["c2ee1363.e3c4d"]]},{"id":"7b0b1ead.028c5","type":"ui_text","z":"f63cba4c.336d58","group":"f1a2366f.a829f8","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1470,"y":820,"wires":[]},{"id":"8c017589.e09e98","type":"ui_text","z":"f63cba4c.336d58","group":"f1a2366f.a829f8","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","x":1510,"y":1460,"wires":[]},{"id":"eceffe12.28b7b","type":"change","z":"f63cba4c.336d58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"System is disabled","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1320,"wires":[["8c017589.e09e98"]]},{"id":"b323c0a4.c417b","type":"remote-access","z":"f63cba4c.336d58","confignode":"65627191.d6fb1","name":"","verbose":0,"x":160,"y":200,"wires":[[]]},{"id":"dbea4212.ec57a","type":"remote-access","z":"9cf3a6d.1104258","confignode":"65627191.d6fb1","name":"","verbose":0,"x":380,"y":900,"wires":[[]]}]